<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java.dao.AlbumDao">
	<resultMap type="com.java.entity.Album" id="albumResultMap">
		<id property="albumId" column="ALBUM_ID"/>
		<result property="albumName" column="ALBUM_NAME"/>
		<result property="createTime" column="CREATE_TIME"/>	
		<collection property="listPho" ofType="com.java.entity.Photo">
			<id property="photoId" column="PHOTO_ID"/>
			<result property="photoName" column="PHOTO_NAME"/>
			<result property="photoPath" column="PHOTO_PATH"/>
		</collection>	
	</resultMap>
	
	<select id="getAllAlbums" resultMap="albumResultMap">
		select a.ALBUM_ID,a.ALBUM_NAME,a.CREATE_TIME,p.PHOTO_ID,p.PHOTO_NAME,p.PHOTO_PATH,p.REAL_PATH from album a left join photo p 
		on a.ALBUM_ID = p.ALBUM_ID group by a.ALBUM_ID
	</select>
	
	<insert id="addAlbum">
		insert into album set ALBUM_NAME=#{albumName},CREATE_TIME=#{createTime}	
	</insert>
	
	<select id="getAlbumById" parameterType="Integer" resultMap="albumResultMap">
		select * from album a left join photo p on a.ALBUM_ID = p.ALBUM_ID where a.ALBUM_ID = #{albumId}
	</select>
	
	<update id="updateAlbumById" parameterType="com.java.entity.Album">
		update album a set a.ALBUM_NAME=#{albumName} where a.ALBUM_ID = #{albumId}
	</update>
	
	<delete id="deleteAlbumById">
		delete from album where ALBUM_ID = #{albumId}
	</delete>
</mapper>