#jum{
	width:100%;
	background-image: url(../images/jum_bg.jpg);	
}

#add-album{
	float:right;
}

.leftAlbum{
	height: 100px;
	/* text-align:center; */
	overflow:auto;
	font-size: 24px;
	/* line-height: 100px; */
}

#albumDelete{
	float: right;
	font-size:16px;
}

#albumEdit{
	float: right;
	font-size:16px;
}

.uploadPho{
	float: right;
	font-size: 16px;
}

.head-pic{
	width: 78px;
	height: 100%;
}

.show-albumName{
	height:125px;
	border-bottom: 2px solid #F5F5F5;
	overflow:auto;
}

.show-pic{
	max-height:100%
	overflow:auto;
}

/* .img-thumbnail{
	display:inline-block;
	max-width:100%;
	height:auto;
	padding:4px;
	line-height:1.42857143;
    background-color:#FFF;
    border:1px solid #DDD;border-radius:4px;
    transition:all 0.2s ease-in-out;
	
} */

/* .img-responsive{
	display:block;
	max-width:100%;
	height:auto;
} */